@import 'basic';

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bold-webfont.woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-italic-webfont.woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bolditalic-webfont.woff');
    font-weight: bold;
    font-style: italic;

}

@import 'normalize';
@import 'reset';

/* Clearfix prevents floating boxes floating out of container */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Basic Font settings */

html {
  font-family: 'tex_gyre_heros', sans-serif;
  line-height: 1.6;
}


/* And here follows your custom CSS */


/* ------------------------ */
/* body background          */
/* ------------------------ */


/* ------------------------ */
/* settings aside           */
/* ------------------------ */


/* ------------------------ */
/* checkbox and label       */
/* ------------------------ */


/* ------------------------ */
/* show setting if checkbox */
/* is checked               */
/* ------------------------ */


/* ---------------------------- */
/* form and link padding/border */
/* ---------------------------- */


/* ---------------------------- */
/* form                         */
/* ---------------------------- */


/* ---------------------------- */
/* settings links               */
/* ---------------------------- */


/* ---------------------------- */
/* login options                */
/* ---------------------------- */


/* ------------------------ */
/* icon sprites             */
/* ------------------------ */


/* ------------------------ */
/* media query for desktop  */
/* ------------------------ */


